<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="stylesheet" href="../Styles/TeamPage.css">
    <link rel="stylesheet" href="../Styles/media-queries.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,300&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="../Images/iic_logo_s.png">
    <title>Team Page</title>
</head>

<body>
    <header class="">
        <div class="logo-container">
            <a class="logo-holder" href="./index.html"><img src="../Images/iic_logo_s.png" alt="Logo" /></a>
            <div class="logo-text">
                <p>Institution's Innovation Council</p>
                <p>JSS Science and Technology University</p>
            </div>
        </div>
        <nav class="default-nav">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li class="active"><a href="#">Our Team</a></li>
                <li><a href="FeedPage.html">Events</a></li>
                <li><a href="#footer">Contact Us</a></li>
            </ul>
        </nav>
        <div class="mobile-nav-btn">
            <div class="symbol-container"><span></span></div>
        </div>
        <div class="side-nav">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li class="active"><a href="#">Our Team</a></li>
                <li><a href="FeedPage.html">Events</a></li>
                <li><a href="#footer">Contact Us</a></li>
            </ul>
        </div>
    </header>


    <div id="particles-js"></div>

    <section class="Page-head">

        <h2>MEET THE TEAM</h2>


        <div class="squad-description">
            <p>Coming Together is a Beginning.Keeping together is Progress.
                Working togther is Success.
            </p>
        </div>
    </section>


    <div class="teams">

        <!-- core team  -->
        <section class="team-container">
            <h1>COUNCIL MEMBERS</h1>
            <div class="team-member-container" id="core-team">
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Dr. H. Honne Gowda</p>
                        <p class="member-desig1">Dean (Research) JSS Science & Technology University</p>
                        <p class="member-desig2">President</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Dr. S.Roopa</p>
                        <p class="member-desig1">Associate Professor Dept of PST, JSSSTU</p>
                        <p class="member-desig2">Convenor</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Dr. N Haraprasad</p>
                        <p class="member-desig1">Professor Dept. of Bio Technology, JSSSTU</p>
                        <p class="member-desig2">Innovation activity coordinator</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Dr. M.S. Maheshan</p>
                        <p class="member-desig1">Assistant Professor/<br>Assistant Registrar (Administration), Dept of
                            ISE, JSSSTU</p>
                        <p class="member-desig2">Social media coordinator</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Dr. M.Pradeep</p>
                        <p class="member-desig1">Training & Placement Officer, Placement cell, JSSSTU</p>
                        <p class="member-desig2">Internship coordinator</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Dr Anil Kumar K M</p>
                        <p class="member-desig1">Associate Professor, Dept. of CSE, JSSSTU</p>
                        <p class="member-desig2">ARIIA coordinator</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Dr.Manjunath Aradhya</p>
                        <p class="member-desig1">Associate Professor & Head, Dept of Computer Applications, JSSSTU</p>
                        <p class="member-desig2">NIRF coordinator</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Sri. Shivashankar</p>
                        <p class="member-desig1">Chief Executive, SJCE-STEP,JSS TI's <br>Campus, Mysuru</p>
                        <p class="member-desig2">Start-up coordinator</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Dr.Hema B P</p>
                        <p class="member-desig1">Associate Professor Dept. of Bio Technology, JSSSTU</p>
                        <p class="member-desig2">Member</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Dr. Sridevi Kulenur</p>
                        <p class="member-desig1">Associate Professor, Dept. of management studies, JSSSTU</p>
                        <p class="member-desig2">Member</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Dr. B.S.Harish</p>
                        <p class="member-desig1">Professor / Deputy Registrar, JSS STU (I/C), Dept of ISE, <br>JSSSTU
                        </p>
                        <p class="member-desig2">Member</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Dr.K.G.Pradeepa</p>
                        <p class="member-desig1">Assistant Professor Dept of PST, JSSSTU</p>
                        <p class="member-desig2">Member</p>

                    </div>
                </div>
                <!--
   <div class="member-box">
    <img src="../Images/team-images/bg-user.jpg" >
    <div class= "member-info">
        <p class="member-name">Dr.Hema B P</p>
        <p class="member-desig1">Professor Dept. of Bio Technology, JSSSTU</p>
        <p class="member-desig2">Member</p>
        
    </div>
</div>
<div class="member-box">
    <img src="../Images/team-images/bg-user.jpg" >
    <div class= "member-info">
        <p class="member-name">Dr.Hema B P</p>
        <p class="member-desig1">Professor Dept. of Bio Technology, JSSSTU</p>
        <p class="member-desig2">Member</p>
        
    </div>
</div>
<div class="member-box">
    <img src="../Images/team-images/bg-user.jpg" >
    <div class= "member-info">
        <p class="member-name">Dr.Hema B P</p>
        <p class="member-desig1">Professor Dept. of Bio Technology, JSSSTU</p>
        <p class="member-desig2">Member</p>
        
    </div>
</div> -->



            </div>
            <button class="hide-btn btn-primary" id="core-btn" onclick='teamName("core-team",id)'>Show All</button>
        </section>

        <!-- Web Team -->
        <section class="team-container">
            <h1>Student Coordinators</h1>
            <!--
           <div class="mentor-box">
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg" >
                   <div class= "member-info">
                       <p class="member-name">Samanvitha S</p>
                      </div>
                   </div>
               

               <div class="member-box">
                <img src="../Images/team-images/bg-user.jpg" >
               <div class= "member-info">
                   <p class="member-name">Samanvitha S</p>
                  </div>
               </div>
           </div>
           </div> -->

            <div class="team-member-container">
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Samanvitha S</p>
                        <p class="member-desig">SPOC</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Anagha P</p>
                        <p class="member-desig">Treasurer</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Akshar S Ramesh</p>
                        <p class="member-desig">Secretary</p>

                    </div>
                </div>
            </div>
            <div class="team-member-container">
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Devika R Singh
                        </p>
                        <p class="member-desig">Head of organizing committee</p>

                    </div>
                </div>


                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Nidhishree</p>
                        <p class="member-desig">Head of Social Media Coordination</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Sandeep Keshav</p>
                        <p class="member-desig">Head of Digital Media Promotions</p>

                    </div>
                </div>
            </div>
            <div class="team-member-container">
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Samanvi Satish</p>
                        <p class="member-desig">Student Coordinator</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Hardik Shettigar</p>
                        <p class="member-desig">Student Coordinator</p>

                    </div>
                </div>

                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Vaibhavi J K</p>
                        <p class="member-desig">Student Coordinator</p>

                    </div>
                </div>
            </div>
            <div class="team-member-container">
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Namitha R</p>
                        <p class="member-desig">Student Coordinator</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Nithyashree Bharadwaj N</p>
                        <p class="member-desig">Student Coordinator</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Veditha A</p>
                        <p class="member-desig">Student Coordinator</p>

                    </div>
                </div>
            </div>
            <div class="team-member-container">
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Rohan B B</p>
                        <p class="member-desig">Student Coordinator</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">T Shreyas</p>
                        <p class="member-desig">Student Coordinator</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Rohan B B</p>
                        <p class="member-desig">Student Coordinator</p>

                    </div>
                </div>
            </div>
            <div class="team-member-container">
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Abhishekgouda H</p>
                        <p class="member-desig">Student Coordinator</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Chirag D</p>
                        <p class="member-desig">Student Coordinator</p>

                    </div>
                </div>
                <div class="member-box">
                    <img src="../Images/team-images/bg-user.jpg">
                    <div class="member-info">
                        <p class="member-name">Millan Bomb</p>
                        <p class="member-desig">Student Coordinator</p>

                    </div>
                </div>
            </div>
        </section>




        <footer id="footer">
            <h4>Follow Us</h4>
            <div class="socials">
                <a href="https://www.linkedin.com/company/institution-s-innovation-council-jssstu/"><i
                        class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/iic_jssstu/"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="copyright-text">
                <p>Any Queries? Write to us at iic@jssstuniv.in</p>
                &copy; 2022 IIC. All rights reserved.
            </div>
            <div class="img-container"><img loading="lazy" src="../Images/delhi.png" alt="delhi"></div>

        </footer>


        <script src="../Scripts/animation-script.js"></script>
        <script src="../Scripts/TeamPage.js"></script>
        <script src="../Scripts/particles2.js"></script>
        <script src="../Scripts/app.js"></script>
</body>

</html>